DEMOQA_BASE_URL=https://demoqa.com
DEMOQA_USERNAME=your_demoqa_username
DEMOQA_PASSWORD=your_demoqa_password

REQRES_BASE_URL=https://reqres.in
# Free key from https://app.reqres.in
REQRES_API_KEY=your_reqres_api_key
